html{
    height: 100%;
}
body{
    position: fixed
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    color: rgb(38,38,38);
    font-family: Times New Roman, Helvetica, Arial, sans-serif;
    text-align: center;
    box-shadow: 5px 5px 15px #666;

}
nav{
    height: 100vh;
    background: url("../media/background.gif") center no-repeat;
    background-size: cover;
}
nav h1 {
    font-size: 2rem ;
    color: black;
    font-weight: bold;
    padding-top: 6vh;
    padding-bottom:60vh;
}
h2 {
    height: 8vh;
    padding-top: 2vh;

    text-align: center;
}
input{
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
    font-size: 1.5rem;
    border-radius: 25px ;

}
input[type="text"]{
    max-width: 98%;
    text-align: center;
}
nav input{
    width: 98vw;
    height: 8%;
    opacity: 0.8;
    margin-top: 2%;
    box-shadow: 5px 5px 15px #666;

}
input:hover{
    background-color: #eeeeaa;
}

#map{ width:100%; height: 70vh; }

#terug{
    background-color: #1F2021;
    color: #add8e6;
}
#off{
    position: absolute;
    background-color: #BBBBBB;
    width: 100vw;
    font-size: 1.5rem;
}
#home{
    position: absolute;
    bottom: 0;
    line-height: 160%;
    width: 100vw;
    background-color: #BBBBBB;
    font-size: 1.5rem;
}



