
body{
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.5vh;
    background-color: #ededed;
    color: rgb(38,38,38);
    font-family: Times New Roman, Helvetica, Arial, sans-serif;
    text-align: center;
    box-shadow: 5px 5px 15px #666;

}
nav h1 {
    font-size: 6vh ;
    background-color: #1F2021;
    color: lightblue;
    height: 20vh;
    padding-top: 10vh;
    box-shadow: 5px 5px 15px #666;
}
h2 {
    height: 8vh;
    margin-top: 2vh;
    font-size: 5vh;
    text-align: center;
}
input{
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
    font-size: 4vh;
    border-radius: 25px ;

}
input[type="text"]{
    max-width: 98%;
    height: 9vh;
    text-align: center;
}
nav input{
    width: 98vw;
    height: 30vh;

    margin-top: 4vh;
    box-shadow: 5px 5px 15px #666;

}
input:hover{
    background-color: #eeeeaa;
}

#map{ width:100%; height: 70vh; }

#terug{
    background-color: #1F2021;
    color: #add8e6;
}
#off{
    position: absolute;
    background-color: #BBBBBB;
    width: 100vw;
    font-size: 1.5rem;
}



